@import "tailwindcss";

:root {
  --background: #f9fafb; /* Tailwind's bg-gray-50 */
  --foreground: #000000; /* Tailwind's text-black */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f9fafb; /* Tailwind's bg-gray-50 */
    --foreground: #000000;
  }
}

html{
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.3s ease-out;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}

@keyframes pulseSlow {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  animation: pulseSlow 2s ease-in-out infinite;
}